html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    height: 60px;
    align-content: center;
}

#mapId {
    height: calc(100vh - 60px);
    width: 100%;
    position: relative;
    z-index: 0;
}

.custom-marker .circle-marker {
    width: 10px;
    height: 10px;
    background-color: #007BFF;
    border: 1px solid #000;
    border-radius: 50%;
    opacity: 0.8;
}




