html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    height: 60px;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

#mapId {
    height: calc(100vh - 60px);
    width: 100%;
    position: relative;
    z-index: 0;
}

.menuInfo {
    position: absolute;
    top: 75px;
    left: 75px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    display: block;
}

.layer-button {
    width: 48px;
    height: 48px;
    border: 2px solid #333;
    background-color: white;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.layer-button-inner {
    color: #333;
    font-size: 32px;
    line-height: 1;
}

.layer-button.selected {
    background-color: lightblue;
}

.layer-button:hover .layer-button-inner {
    color: #007bff;
}


.polygon-label{
    padding: 1px;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    white-space: nowrap;
    border: 1px solid #444;
    color: #222;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: #444;
    color: white;
}


.icon-bbq .fa-circle {
    color: saddlebrown;
}
.icon-bbq .fa-utensils {
    color: navajowhite;
}
.icon-winery .fa-circle {
    color: darkred;
}
.icon-winery .fa-wine-bottle {
    color: lavenderblush;
}
.icon-brewery .fa-circle {
    color: goldenrod;
}
.icon-brewery .fa-beer {
    color: white;
}


a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.info-page{
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    padding: 2rem;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    overflow: auto;
    box-sizing: border-box;
}

.info-page .container h1 {
    margin-top: 0;
}
.info-page .container h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.info-page .container p,ul {
    margin: 0;
}

.icon-labels div {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 9px;
}
.icon-labels i {
    width: 2rem;
    height: 2rem;
    display: flex;
    color: #333;
    border: 2px solid #333;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    margin-right: 1rem;
}
.attribution-list li {
    line-height: 1.3;
}




.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.modal-content {
    border-radius: 8px;
    max-width: 900px;
    width: 95%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 36px;
    background: none;
    border: none;
}


.modal-iframe {
    border: none;
    width: 100%;
    height: 100%;
    overflow: auto;
}


#menuIcon {
    display: block;
    float: left;

}